*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    height: 8cm;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    justify-content: space-between;
    padding-top: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 85px;
    padding-right: 6cm;
    
}
.header a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
img{
    height: 100px;
    width: 200px;
    padding-left: 10px;
    
}
button{
    font-size: 25px;
    border-radius: 25px;
    height: 45px;
    width: 95px;
    background-color: transparent;
    border-color: transparent;
}
button:hover{
    background-color: rgb(133, 133, 214);
}
